.container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-self: flex-end;
  width: 100vw;
  min-height: 3rem;
  background-color: var(--main);
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}
.txtContainer {
  padding: 1rem;
}

.txt {
  color: white;
  font-weight: 500;
}
