.tableContainer {
  border-collapse: collapse;
  gap: 0.5rem;
}

.editContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: center;
}

.editContainer:hover {
  cursor: pointer;
}
