.container {
  display: flex;
  margin-top: 5rem;
  min-height: 50rem;
}

.businessContainer {
  display: flex;
  width: 50%;
  padding: 1rem;
  justify-content: center;
  background-color: var(--background);
}

.dateContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  right: 0;
  padding: 1rem;
  align-items: center;
}
