.container {
  display: flex;
  position: relative;
  display: flex;
  margin-top: 5rem;
  min-height: 300vh;
}

.entityContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--background);
}

.listViewContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70%;
  right: 0;
}
